<!-- Loads the path of your static files -->
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="
sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">

<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!--Logo, returns to homepage-->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'music:index' %}"> Viberr</a>

        </div>
    </div>
</nav>

<!--This displays the albums in the library or shows a message when there are no albums-->

{% if all_albums %}
    <h3>Here are all your albums:</h3>

    <ul>
        {% for album in all_albums %}
        <li><a href="{% url 'music:detail' album.id  %}">{{ album.album_title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3> You don't have any albums</h3>
{% endif %}